* {
  margin: 0;
  background: border-box;
  font-family: 'Source Sans Pro',monospace;
  padding: 0;
}

body {
  text-align: center;
  background-image: url('https://pm1.narvii.com/6374/61064c5640ead9cdb808365e997f3b09e48a9f94_hq.jpg');
  background-color: #B9BAB2;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}

.container {
  text-align: center;
}

.page-title {
  width: 200px;
  margin: 0 auto;
  color: #2E3224;
  font-weight: 700;
  background-image: linear-gradient(#F0E7DD,#F0E7BC,#EAC374);
  border: 2px solid #ECE3AC;
  box-shadow: 1px 2px #837A69;
  margin-bottom: 10px;
  margin-top: 10px;
  opacity: 0.8;
  
}

#textoVerificacao {
  color: #FDB484;
  font-size: 18px;
  font-weight: 400;
}

body > img {
  margin: 0 10px;
  
}

img{
  max-height: 200px;
  border-radius: 5px;
  box-shadow: 3px 3px 2px 2px #837A69;
}

img:hover{
  transition: 1s all;
  transform: scale(1.2)
}

li {
  display: inline-block;
  padding: 10px;
}

input {
  padding: 10px;
  background-color: #ECE3AC;
  color: #B9BAB2;
  border-color: #EAC374;
  border-radius: 10px;
  width: 350px;
  box-shadow: 2px 2px #837A69;
  margin: 5px;
  opacity: 0.9;
}

input::placeholder{
  font-size: 16px;
  font-weight: 600;
  color: #837A69;
}

button {
  padding: 10px;
  margin: 10px;
  background-color: #F0E4CC;
  color: #837A69;
  border-color: #EAC374;
  border-radius: 9px;
  width: 130px;
  opacity: 0.9;
  font-size: 16px;
  font-weight: 600;
}

button:hover{
  background-color: #ECE3AC;
  -moz-transform: scale(2.1);
	-webkit-transform: scale(1.1);
  transform: scale(0.9);
}

footer{
  align-items: center;
  margin: 20px;
}

.footer-imagem{
  width: 150px;
  margin: 10px;
  background-color: #EAC374;
}

.link-imagem{
  width: 40px;
  margin: 10px;
}